body{
    background-color:rgb(40,182,27) ;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(60,79,55);
}
/* head background image */
.sword {
    background: url(../images/f9caf0f42070feda4b1cf148fb1c5510.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 250px;
    margin: 0 auto;
}

h1{
text-align: center;
margin: opx auto;
}

section h2{
    text-align: left;
    text-decoration: underline;
    color: rgb(135,94,94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
/* --- Navbar Links --- */
ul{
    text-align: center;
}
nav ul li{
        display: inline-block;
        padding: 10px 10px;
        color: rgb(135,94,94);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        /* position: relative; */
}

nav ul li a {
    display: flex;
    width: 150px;
    background-color: rgb(0,62,7);
    position: relative;
    text-decoration: none;
}

/* link effect */
a:link,a:visited {
    color: black;
    background-color:none;
}
/*  Hover Effect  */
 a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transform: scale(1.05);

}
/*Active Link */
 a:active {
    color: rgb(255, 255, 255);
}

/* Side image */
.mugiwara img{
    width: 200px;
    margin: 0 20px;
    float: left;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* text display */
.booze ul {
    display: inline-block;
    text-align: justify;
}

.love{
    width: 100px;
    margin: 0px 10px;
    border: 100px;
    border-radius: 10px;
    text-align: center;
}


.peace{
    width: 100px;
    margin: 0px 10px;
    border: 100px;
    border-radius: 20px;
    text-align: center;
}

.war{
    width: 100px;
     display: inline-block;
    margin: 0px 10px;
    border: 100px;
    border-radius: 10px;
    text-align: center;
}

#sunny{
    border-spacing: 10px;
    border-radius: 20px;
    border: 3px solid black;
    margin: 2px auto;
    display: block;
    padding: auto;

}
#fname{
    border-radius: 5px ;
    width: 900px;
    height: 30px;
}


#email {
    border-radius: 5px ;
    width: 900px;
    height: 30px;
}

#question{
    border-radius: 5px ;
    width: 900px;
    text-align: justify;
}

textarea{
    width: fit-content;
    resize: both;
}

/* Send button effect */
.button{
   padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
}

/* footer */
.footer{
    padding: 10px;
}


