body {
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
}

header,footer {
    background-color: rgb(198, 202, 237);
    padding: 5px;
}

.site-title {
    color: rgb(70, 109, 50);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-align: center;
    text-decoration-color: rgb(46, 139, 13);
}

#my-image {
    box-shadow: 0px 0px 2px 1px #000000;
}

#hobbies ul {
    list-style-type:square;
}

#hobbies ul li:nth-child(odd) {
background-color: rgb(254, 245, 79);
padding: 5px;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    display:block;
    gap: 10px;
    margin-block: 5px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    border: rgb(255, 255, 255);
    border-style: groove;
    border-width: 5px;
    border-radius: 10px;
}

a:link,a:visited {
    color: rgb(76, 95, 34);
    background-color: rgb(180, 223, 126);
    padding: 10px 20px;
}

a:hover {
    text-decoration: none;
    background-color: rgba(168, 132, 151,0.5);
}

a:active {
    color: rgb(210,33,30);
}