
/* Box sizing for all elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	background-color: white;
  line-height: 1.6;
}

/* Table formatting */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px
}

   /* =====================================
     Header & Navigation
     ===================================== */

  header {
    background-color: #c78c06;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
  
  header .logo-header { 
      background-color: #222222;
      padding: 10px;
  }

  .header-nav {
    background-color: #222222;
    color: #c78c06;
  }

  .logo-header {
    background-color: #c78c06;
    padding: 20px 0;
  }

  #logo {
    padding-left: 0;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    /* background-color: #1a1a1a; */
  }
 
  nav li:first-child a {
    background-color: #c78c06;
    color: black;
    padding: 10px 20px 10px 20px;
  }

  nav a {
    background-color: transparent;
    text-decoration: none;
    color: #c78c06;
    display: block;
    padding: 10px 0;
  }
  
   .search-form {
    background-color: #1a1a1a;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
 
  .search-form button {
    background-color: #1a1a1a;
    color: #c78c06;
    border: none;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .search-bar{
    width: 100%;
  }

  nav a:hover,
  nav a:focus {
    background-color: white;
    color: #c78c06;
    text-decoration: none;
  }
  
  .search-form {
    display: flex;
  }
  
 
   /* =====================================
     Welcome Section (was .sign-section)
     ===================================== */

  .welcome {
      background-image: url(../images/main-banner.jpg);
      background-position: center;
      background-size: cover;
     background-repeat: no-repeat;
      position: relative;
      width: 100%;
      color: white;
    padding: 50px 0;
  }
  
  .welcome .wrapper {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
  }

  .welcome-form {
    background-color: rgba(00, 00, 00, 0.6);
    background-position: center;
    position: relative;
    margin: 20px 0;	
    padding: 20px 0 0 0;
  }

  .welcome-button {
    padding: 20px 20px;
    border: 0;
    font-size: 2rem;
    background-color: #c78c06;
    font-family: 'Open Sans';
  }
  
  .welcome h1 {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .welcome p {
    margin-bottom: 15px;
    font-size: 0.7rem;
    color: white;
  }
 
  .welcome a {
    display: inline-flex;
    align-items: center;
    background-color: #c78c06;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.5rem;
  }
   

   /* =====================================
     About Us Section 
     ===================================== */

  .aboutus {
    background-color: #fde5a6;
    padding: 40px 20px;
    margin-bottom: 1rem;
  }

  .aboutus img{
    width: 100%;
  }
  
  .aboutus h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .aboutus p{
    font-size: 0.7rem;
  }

  /* =====================================
     Services Section
     ===================================== */
   
  .ourservices {
    background-color: #fde5a6;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin-bottom: 1rem;
    gap: 20px;
  }
  .ourservices button{
    margin-top: 10px;
    padding: 10px 10px;
    border: 0;
    font-size: 1rem;
    color: white;
    background-color: black;
    font-family: 'Open Sans';
  }
  
  .ourservices img {
    width: 100%;
  }
  
  .ourservices h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
  }

  .ourservices h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }

  .ourservices p{
    font-size: 0.7rem;
  }
  .ourservices a {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px 20px;
    margin-top: 10px;
  }
 
  /* =====================================
     Vision Section 
     ===================================== */

  .ourvision {
    background-image: url("../images/vision.jpg");
    background-size: cover;
    background-position: center;
    color: white;
  }

  .ourvision button {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 1rem;
    color: white;
    border: #c78c06 1px solid;
    background-color: black;
    font-family: 'Open Sans';
  }

  .ourvision  h2 {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin: 10px 0;
  } 
  
  .ourvision a {
    display: inline-block;
    background-color: transparent;
    border: solid #c78c06;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .ourvision p{
    font-size: 0.7rem;
  }

  .ourvision i {
    color:black;
    display: inline-block;
    text-decoration: none;
  }
  

  /* =====================================
     Team Section 
     ===================================== */ 

  .ourteam  {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin-bottom: 1rem;
  }

  .team-members{
     background-color: #fde5a6;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin-bottom: 1rem;
  }

  .team-member{
    background-color: #fde5a6;
   display: flex;
   flex-direction: column;
   padding: 40px 20px;
   margin-bottom: 1rem;
 }


  .ourteam  h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
  } 
  .ourteam p{
    font-size: 0.7rem;
  }
  
  .ourteam  h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans';
    margin: 10px 0;
  } 

  .ourteam  h4 {
    font-size: 15px;
    text-decoration: underline solid #c78c06;
    font-weight: bold;
    margin: 10px 0;
  } 

  .ourteam article {
    background-color: #fde5a6;
    padding: 20px;
  }
  
  .ourteam img {
    width: 100%;
    height: auto;
  }
  
  .contact-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .contact-form h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #fname , #email , #message{
    width: 100%;
  }
  
  .contact-form button {
    padding: 10px 10px;
    color: #c78c06;
    background-color: #000000;
    border: none;
  }

  .hours h2{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
  }

  .location h2{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  iframe.map {
    width: 100%;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  table thead {
    background-color: #fde5a6;
  }
  
  footer {
    background-color: #1a1a1a;
    color: #c78c06;
    text-align:left;
    padding: 20px;
    font-size: 0.5em;
  }
  
  footer a {
    color: #fde5a6;
    text-decoration: underline;
  }
 
  @media screen and (min-width: 760px) {

    
    header {
      display: flex;
      background-color:#c78c06;;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    img {
      display: flex;
      background-color: #000000;
      padding: none;
      justify-content: space-between;
      flex-direction: row;
    }

    nav ul {
      display: flex;
      /* background-color: #000000; */
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 20px;
    }
  
    .search-form {
      width: 0 auto;
    }

    
  .aboutus .wrapper {
    display: flex;
  }

  /* Header 1 styling for larger screens */
	h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 20px;
    }
  
    /* Header 2 styling for larger screens */
    h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 35px;
    }
  
    /* Header 3 styling for larger screens */
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  
    /* Header 4 styling for larger screens */
    h4 {
    font-size: 1rem;
    font-weight: bold;
    }
  
    /* Paragraph styling for larger screens */
    p {
    font-size: 1rem;
    line-height: 1.5em;
    }
  
    /* Logo background styling for larger screens */
    .logo-header {
      background-color: transparent;
    }
  
    /* Navigation bar display for larger screens */
    .nav-bar {
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      padding: auto;
    }
  
    /* Desktop navigation styling */
    #nav-desktop {
      display: grid;
      grid-template-columns: 1fr 5fr 1.8fr;
    }
  
    /* Search bar display for larger screens */
    .search-form {
      display: flex;
      width: 100%;
      background-color: none;
    }
  
    /* Welcome text padding for larger screens */
    .welcome-text, .welcome-form{
      padding: 20px;
      margin-top: 20px;
    }
  
    /* Welcome button styling for larger screens */
    .welcome-button {
      padding: 25px 30px;
      border: 0;
      font-size: 24px;
      background-color: #c78c06;
      font-family: 'Open Sans';
    }
  
    /* About us section display for larger screens */
    .aboutus .wrapper {
      display: flex;
    }

    .ourservices button{
        display: flex;
       font-family: 'Open Sans';
       justify-content: space-between;
       flex-direction: row;
       width: 100%;
    }

    /* Services flexbox display for larger screens */
    .servicesflexbox {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  
    /* Services flex item one column span styling */
    .servicesflexbox .servicesflexone  {
      grid-column: 1/ span 3;
    }
  
    /* Services flex item two column span styling */
    .servicesflexbox .servicesflextwo {
      grid-column: 4 / span 3;
    }
  
    /* Services flex item three column span styling */
    .servicesflexbox .servicesflexthree {
      grid-column: 1 / span 2;
    }
  
    /* Services flex item four column span styling */
    .servicesflexbox .servicesflexfour {
      grid-column: 3 / span 2;
    }
  
    /* Services flex item five column span styling */
    .servicesflexbox .servicesflexfive {
      grid-column: 5 / span 2;
      margin-bottom: 0;
    }
  
    /* Services flex item button width calculation styling */
    .services-flex-item button {
      width: calc(100% - 28px);
    }
  
    /* Team flexbox display for larger screens */
    .team-flexbox {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 0;
    }
  
    /* Team flexbox p styling */
    .team-flexbox p {
      font-weight: bold;
      font-size: 0.7rem;
    }
  
    /* Team flex item display for larger screens */
    .team-member {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 0;
    }
  
    /* Team grid invert styling */
    .team-members {
      grid-row: 1 / span 1;
    }
  }

 